* {
  font-family: arial, sans-serif;
  font-weight: bold;

}

#container {
  position: relative;
	margin:auto;
	padding: 0;
	border: none;
  font-size: 0;
  background-color: white;
  border-radius: 5px;

}

.square {
  margin:0;
	padding:0;
	border:none;
	display:inline-block;
  border-radius: 5px;
  opacity: 0;
  background-color: black;
}

body {
  background-color: lightblue;
}

p {
  font-family: arial, sans-serif;
}

button {
  background-color: blue;
  color: white;
}
