* {
  font-family: arial, sans-serif;
  font-weight: bold;
  color: #5bc0de;
  text-align: center;
  position: relative;
}

#container {
  margin: 5px;
  padding: 5px;
  border: 0;
  font-size: 0;
  background-color: white;
  border-radius: 5px;
  display: inline-block;
}

.square {
  margin: 0;
  padding: 0;
  border: 0;
  opacity: 0;
  background-color: black;
  border-radius: 5px;
  display: inline-block;
}

body {
  background-color: lightblue;
}

p {
  font-family: helvetica, arial, sans-serif;
  font-size: 22px;
  margin: 5px;
}

h1 {
  position: top;
}

button {
  background-color: #0074d9;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  color: white;
  border-radius:15px;
  border: 1px solid lightblue;
  margin: 0;
  padding: 15px;
  position: relative;
}

button:hover {
  background-color: ##2c88d9;
  border: 1px solid white;
}

#resetGrid {
  float: right;
}

#userGridUnits {
  float: left;
  width: 43px;
  height: 43px;
  margin: 0 5px;
  font-size: 22px;
}

#userResetGrid {
  float: left;
}
